.home-container {
  width: calc(100vw - 40px);
  height: calc(100vh - 50px);
}

.sphere-container {
  position: absolute;
  margin-top: 10rem;
  margin-left: 10vw;
  top: 0;
  left: 0;
  bottom: 1rem;
  right: 2rem;
  aspect-ratio: 1.35;
  max-height: calc(100vh - 11rem);
}

sphere {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .sphere-container {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 850px) {
  .sphere-container {
    margin-top: 20rem;
  }
}

.home-menu {
  margin-left: 2.7rem;
  margin-top: 1rem;
  width: calc(100vw - 75vw);
}
