.home-container {
  perspective: 1000px;
  width: calc(100vw - 60px);
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit-wrapper {
  width: calc(100vw - 200px);
  height: calc(100vh - 400px);
  position: relative;
  transform-style: preserve-3d;
  animation: rotateY 20s linear infinite;
}
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: radial-gradient(circle at 30% 30%, #fff, #3498db);
  border-radius: 50%;
  z-index: 2;
}

.satellite-top {
  position: absolute;
  top: 10%;
  left: 38%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--art-primary-color);
  transform-style: preserve-3d;
  transform:
    rotateY(calc(var(--i) * (360deg / var(--tot))))
    translateZ(60px)
    rotateX(50deg);
}

.satellite-middle-top {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--art-primary-color);
  transform-style: preserve-3d;
  transform:
    rotateY(calc(var(--i) * (360deg / var(--tot)) + (360deg / (2 * var(--tot)))))
    translateZ(140px)
    rotateX(30deg);
}

.satellite-middle-bottom {
  position: absolute;
  top: 45%;
  left: 35%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--art-primary-color);
  transform-style: preserve-3d;
  transform:
    rotateY(calc(var(--i) * (360deg / var(--tot))))
    translateZ(140px)
    rotateX(-30deg);
}

.satellite-bottom {
  position: absolute;
  top: 65%;
  left: 38%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--art-primary-color);
  transform-style: preserve-3d;
  transform:
    rotateY(calc(var(--i) * (360deg / var(--tot)) + (360deg / (4 * var(--tot)))))
    translateZ(60px)
    rotateX(-50deg);
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
