
.layout-topbar-logo {
  -webkit-filter: invert(100%);
}

.layout-topbar-logo-container {
  position: absolute;
  width: 2.5rem;
  height: 2.8rem;
  margin-right: 0;
  margin-top: 0.1rem;
  margin-inline-end: 3rem;
}
