<div class="card">
  <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="7" [circular]="true">
    <ng-template #item let-item>
      <img [ngSrc]="item.imageSrc" style="width: 100%; display: block;" alt="Image not displaying" fill/>
    </ng-template>
    <ng-template #thumbnail let-item>
      <img [ngSrc]="item.imageSrc" style="width: 100%; display: block;" alt="Image not displaying" fill/>
    </ng-template>
  </p-galleria>
</div>
